<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/main/base::layout(~{::section},~{::title})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>home</title>
  </head>
  <body>
    <div>
      <section>
        <div class="text-center">
          <h1 class="text-4xl">Wellcom to homepage</h1>
          <h3>
            This is Contact app save your contacts and manage with security
          </h3>
        </div>
      </section>
    </div>
  </body>
</html>
