<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Corrected link to Tailwind CSS -->
    <link th:href="@{'/css/output.css'}" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div class="container bg-gray-400">
        <h2>Header Content</h2>
      </div>
      <div class="container bg-gray-600">
        <h2>Footer content</h2>
      </div>
    </section>
  </body>
</html>
